<h1>Editing Article : </h1>
<h3> <%= @article.title %></h3>

<%= form_for @article do |f| %>
<div class="input-group mb-3">
    <%= f.label :content,  class:"input-group-text" %>
    <%= f.text_area :content , class:"form-control"%>
</div>

<div>
    <%= f.submit %>
</div>
<% end %>

<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
