<h1>Editing Article</h1>

<%= form_for @article do |f| %>
  <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
