<p id="notice"><%= notice %></p>

<h1>Top Users : </h1>

<table>
  <thead>
    <tr>
        <th>Rang</th>
        <th>Name</th>
        <th>Username</th>
        <th>Nombre de points</th>
        <th colspan="3"></th>
    </tr>
  </thead>

  <body>
  <% @count = 0 %>
    <% @users.each do |user| %>
      <tr>
        <td><%= @count = @count + 1 %></td>
        <td><%= user.name %></td>
        <td><%= user.username %></td>
        <td><%= user.point %></td>
        <%# if @current_user == user %>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% #end %>
      </tr>
    <% end %>
  </body>
</table>

<br>