
<main class="col-md-9 ml-sm-auto col-lg-12 px-5" style = "text-align: center">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Nombre de points:</strong>
  <%= @user.point %>
</p>
</main>

